.main
  .main__header
    .main__header__left-box
      %h2.main__header__left-box__current-group
        ウルトラ
      %ul.main__header__left-box__member-list
        Member :
        %li.main__header__left-box__member-list__member
          user
    .main__header__edit-btn
      = link_to "#", class:"edit" do
        Edit

  .messages
    .messages__message
      .messages__message__upper__info
        %p.messages__message__upper__info__talker
          大羽
        %p.messages__message__upper__info__date
          2020/02/08
      %p.messages__message__text
        こんにちは！
      .messages__message__upper__info
        %p.messages__message__upper__info__talker
          ダン
        %p.messages__message__upper__info__date
          2020/02/09
      %p.messages__message__text
        明けの明星に一つの光が宇宙に向かって飛んでいく

  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon("fas", "image")
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}
